.todo-items__item {
   border-bottom: 1px solid rgb(42, 46, 49);
   display: flex;
   justify-content: space-between;
   min-width: 300px;
   font-size: 18px;
   font-weight: 500;
   padding: 3px 20px;
   transition: 0.3s;
}

.todo-items__item:hover {
   background-color: rgb(42, 46, 49);
}

.fa {
   color: rgb(243, 46, 136);
   font-size: 20px;
}

.buttons__edit-btn, .buttons__delete-btn {
   background-color: rgba(240, 248, 255, 0);
   transition: 0.3s;
}

.buttons__delete-btn {
   border-right-color: rgb(167, 167, 167);
}

.item__text-edit {
   background-color: rgb(42, 46, 49);
   color: rgb(255, 235, 255);
   font-size: 18px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-right: 10px;
}